{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- DIRECT PRODUCT SEARCH -->

    <div class="content-section">
        <form name = "search" method="post" action = "{% url 'store-search' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Product or Service Direct Search</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="search" value="search">Search</button>
            </div>
        </form>
    </div>



    <br>

    

{% endblock content %}