    <!-- {% for product in products %}
    
    <p> {{ product }} </p>
  
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ product.vendor_id.user.profile.image.url }}">
            <div class="media-body">
    #        <div class="article-metadata">
    #            <a class="mr-2" href="{% url 'user-posts' product.vendor_id.user.username %}">{{ product.vendor_id.name }}</a>
    #            <small class="text-muted">{{ product.vendor_id.name }}</small>
    #        </div>
    #        <h2><a class="article-title" href="{% url 'post-detail' product.id %}">{{ product.product_name }}</a></h2>
    #        <p class="article-content">{{ product.details }}</p>
    #        </div>
    #    </article>
    #    {% endfor %}
    
    #    {% for service in services %}
        
    #    <p> {{ service }} </p>
    
    #    <article class="media content-section">
    #        <img class="rounded-circle article-img" src="{{ service.vendor_id.user.profile.image.url }}">
    #        <div class="media-body">
    #        <div class="article-metadata">
    #            <a class="mr-2" href="{% url 'user-posts' service.vendor_id.user.username %}">{{ service.vendor_id.name }}</a>
    #            <small class="text-muted">{{ product.vendor_id.name }}</small>
    #        </div>
    #        <h2><a class="article-title" href="{% url 'post-detail' serrvice.id %}">{{ service.product_name }}</a></h2>
    #        <p class="article-content">{{ service.details }}</p>
    #        </div>
    #    </article>
    #    {% endfor %} -->